In [7]:
# I am going to apply ANN (Artificial Neural Network)

In [8]:
# tensorflow-gpu Version greater than 2.0 has Keras integrated with it
!pip install tensorflow-gpu

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow-gpu in /usr/local/lib/python3.8/dist-packages (2.11.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.21.6)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.11.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.51.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (21.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.14.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (15.0.6.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (57.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (23.1.21)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.11.2)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (2.11.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (1.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (4.4.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (3.19.6)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (0.29.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow-gpu) (0.38.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (2.16.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (2.25.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (3.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.12,>=2.11->tensorflow-gpu) (1.8.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow-gpu) (3.0.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (5.2.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-gpu) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-gpu) (6.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-gpu) (2022.12.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow-gpu) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-gpu) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-gpu) (3.2.2)

In [9]:
import tensorflow as tf

In [10]:
print(tf.__version__)

2.11.0

In [11]:
# import some basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df=pd.read_csv('Churn_Modelling.csv')

In [13]:
df.head()
# this is a binary classification problem and we need to predict if a customer is going to exit a particular bank or not
# we will create a neural network for making prediction if a customer is goingt to exit a bank or not and then offer them a service/product accordingly

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# In Neural Network for binary classification problem has following properties
# 1)Activation function in the Hidden layer: ReLU or extension of ReLU
# 2) Activation function in the output layer: Sigmoid Function
# 3) Loss Function: Log loss (for binary classification)
# 4) Optimiser: Adam Optimiser (proven to be the best one)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [15]:
df.select_dtypes(include=object)

        Surname Geography  Gender
0      Hargrave    France  Female
1          Hill     Spain  Female
2          Onio    France  Female
3          Boni    France  Female
4      Mitchell     Spain  Female
...         ...       ...     ...
9995   Obijiaku    France    Male
9996  Johnstone    France    Male
9997        Liu    France  Female
9998  Sabbatini   Germany    Male
9999     Walker    France  Female

[10000 rows x 3 columns]

In [16]:
# splitting the dataset into dependent and independent features
X=df.iloc[:,3:-1]
y=df.iloc[:,-1:]

In [17]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [18]:
y.head()

   Exited
0       1
1       0
2       1
3       0
4       0

In [19]:
print(X.shape,y.shape)

(10000, 10) (10000, 1)

# Feature Engineering
# we have nominal categorical variables and the the number of classes are not very high in those categorical features therefore, we can perform one hot encoding to convert those features into numerical features

In [20]:
# feature Engineering- Handling Categorical Features- One Hot Encoding
geography=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [21]:
#Concatinating the above with the Dataframe and dropping their duplicate columns
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [22]:
X=pd.concat([X,geography,gender],axis=1)

In [23]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [24]:
X.shape

(10000, 11)

 Now we are going to perform train test split before we start training the ANN

In [25]:
!pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn) (1.2.0)

In [26]:
#Splitting the dataset into train and test dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [27]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(8000, 11) (8000, 1)
(2000, 11) (2000, 1)

## Feature Scaling:
we are required to do feature scaling in ANN as higher magnitude of values could slow down the process of finding global minima in Gradient Descent.

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
scaler=StandardScaler().fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)
# we don't use .fit on the whole data set to avoid data leakage

In [30]:
X_test

array([[ 8.33260665e-01, -9.50812388e-02,  1.71512123e+00, ...,
        -5.84086250e-01, -5.71384156e-01, -1.08620280e+00],
       [-5.53096261e-02,  1.89309306e-01, -1.04946154e+00, ...,
         1.71207591e+00, -5.71384156e-01, -1.08620280e+00],
       [-3.34279369e-01,  1.61126203e+00,  6.78402693e-01, ...,
        -5.84086250e-01, -5.71384156e-01,  9.20638397e-01],
       ...,
       [ 8.74589516e-01, -9.50812388e-02, -1.39503438e+00, ...,
        -5.84086250e-01, -5.71384156e-01, -1.08620280e+00],
       [ 3.88975520e-01, -2.84390545e-04, -1.74060723e+00, ...,
        -5.84086250e-01, -5.71384156e-01, -1.08620280e+00],
       [ 7.29938538e-01,  6.63293547e-01, -1.39503438e+00, ...,
        -5.84086250e-01, -5.71384156e-01,  9.20638397e-01]])

In [31]:
print(X_train.shape,X_test.shape)

(8000, 11) (2000, 11)

# Part 2: Creating ANN:

In [32]:
# after the tensorflow version 2.0--> keras has been integrated with Tensorflow

In [33]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU,ELU,ReLU # importing all the activation functions for the hidden layer
from tensorflow.keras.layers import Dropout

In [34]:
# Initializing the ANN
classifier=Sequential()

In [35]:
#Adding the input layer: the number of neurons is the same as number of independent variables
classifier.add(Dense(units=11, activation='relu'))

In [36]:
#adding the 1st hidden layer
classifier.add(Dense(units=7, activation='relu'))

In [37]:
#Adding the 2nd hidden layer
classifier.add(Dense(units=6,activation='relu'))

In [38]:
#Adding the output layer
classifier.add(Dense(units=1,activation='sigmoid'))

We have constructed the entire neural network. we also have got our data set ready for training. Now we just need to train the neural network on the training data set as shown below:

In [39]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy']) # to compile the entire neural network
#here the default learning rate is 0.01

In [40]:
# to change the learning rate
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.02)

In [41]:
classifier.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy']) # to compile the entire neural network

In [42]:
# Early Stopping: it stops the training when the accuracy doesn't increase
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [43]:
#training the neural network
model_history=classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stopping)

Epoch 1/1000
536/536 [==============================] - 7s 6ms/step - loss: 0.4523 - accuracy: 0.7893 - val_loss: 0.3915 - val_accuracy: 0.8644
Epoch 2/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3912 - accuracy: 0.8349 - val_loss: 0.3543 - val_accuracy: 0.8595
Epoch 3/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3785 - accuracy: 0.8421 - val_loss: 0.3461 - val_accuracy: 0.8644
Epoch 4/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3726 - accuracy: 0.8513 - val_loss: 0.3629 - val_accuracy: 0.8603
Epoch 5/1000
536/536 [==============================] - 3s 6ms/step - loss: 0.3615 - accuracy: 0.8498 - val_loss: 0.3499 - val_accuracy: 0.8610
Epoch 6/1000
536/536 [==============================] - 4s 8ms/step - loss: 0.3587 - accuracy: 0.8530 - val_loss: 0.3434 - val_accuracy: 0.8576
Epoch 7/1000
536/536 [==============================] - 4s 8ms/step - loss: 0.3622 - accuracy: 0.8554 - val_loss: 0.3346 - val_accuracy: 0.8679
Epoch 8/1000
536/536 [==============================] - 3s 5ms/step - loss: 0.3611 - accuracy: 0.8548 - val_loss: 0.3675 - val_accuracy: 0.8485
Epoch 9/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3592 - accuracy: 0.8545 - val_loss: 0.3532 - val_accuracy: 0.8603
Epoch 10/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3548 - accuracy: 0.8518 - val_loss: 0.3542 - val_accuracy: 0.8573
Epoch 11/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3550 - accuracy: 0.8550 - val_loss: 0.3513 - val_accuracy: 0.8660
Epoch 12/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3575 - accuracy: 0.8569 - val_loss: 0.3429 - val_accuracy: 0.8584
Epoch 13/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3527 - accuracy: 0.8520 - val_loss: 0.3457 - val_accuracy: 0.8701
Epoch 14/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3577 - accuracy: 0.8511 - val_loss: 0.3362 - val_accuracy: 0.8701
Epoch 15/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3551 - accuracy: 0.8545 - val_loss: 0.3365 - val_accuracy: 0.8607
Epoch 16/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3529 - accuracy: 0.8554 - val_loss: 0.3580 - val_accuracy: 0.8671
Epoch 17/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3505 - accuracy: 0.8518 - val_loss: 0.3442 - val_accuracy: 0.8629
Epoch 18/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3513 - accuracy: 0.8539 - val_loss: 0.3422 - val_accuracy: 0.8622
Epoch 19/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3535 - accuracy: 0.8539 - val_loss: 0.3449 - val_accuracy: 0.8599
Epoch 20/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3503 - accuracy: 0.8548 - val_loss: 0.3465 - val_accuracy: 0.8697
Epoch 21/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3482 - accuracy: 0.8597 - val_loss: 0.3476 - val_accuracy: 0.8697
Epoch 22/1000
536/536 [==============================] - 4s 8ms/step - loss: 0.3500 - accuracy: 0.8554 - val_loss: 0.3787 - val_accuracy: 0.8618
Epoch 23/1000
536/536 [==============================] - 4s 8ms/step - loss: 0.3518 - accuracy: 0.8561 - val_loss: 0.3552 - val_accuracy: 0.8588
Epoch 24/1000
536/536 [==============================] - 4s 7ms/step - loss: 0.3515 - accuracy: 0.8563 - val_loss: 0.3378 - val_accuracy: 0.8679
Epoch 25/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3480 - accuracy: 0.8528 - val_loss: 0.3844 - val_accuracy: 0.8501
Epoch 26/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3483 - accuracy: 0.8550 - val_loss: 0.3391 - val_accuracy: 0.8671
Epoch 27/1000
536/536 [==============================] - 2s 4ms/step - loss: 0.3515 - accuracy: 0.8546 - val_loss: 0.3395 - val_accuracy: 0.8671
Epoch 27: early stopping

In [44]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [45]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred>=0.5)

63/63 [==============================] - 0s 1ms/step

In [48]:
# make the confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[1550,   67],
       [ 224,  159]])

In [49]:
# calculating the accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.8545

In [51]:
#get the weights
classifier.get_weights()

[array([[-0.0925027 ,  0.05640888, -0.4833607 , -0.6056124 , -1.3661486 ,
          1.1746433 ,  0.24372952, -0.04024388, -0.71013886, -0.43222734,
          0.16953176],
        [ 3.8760185 , -1.9523715 , -1.9949133 ,  3.925087  ,  3.0928884 ,
          2.14379   , -1.258194  ,  1.9672326 , -0.09701835, -3.9028656 ,
         -1.6482931 ],
        [ 0.7162193 , -0.28074074,  0.8627243 ,  0.38070804, -1.241643  ,
         -0.19011812,  0.29940608, -0.17077889,  0.54253715,  0.01396888,
         -0.88483554],
        [-0.41212702, -0.5660574 , -1.2269428 , -2.8667815 , -1.1969777 ,
         -0.4884944 , -3.7034862 ,  0.8904754 , -1.9967244 , -2.3884895 ,
         -2.2305763 ],
        [ 0.3808296 ,  1.1266475 , -0.49950904, -3.7738276 , -0.32053858,
         -0.634439  ,  3.3563082 ,  4.8138213 , -1.5143282 , -0.8649737 ,
         -0.01994565],
        [-0.09963858,  0.47954464, -0.26146597,  0.22195037, -0.26758954,
          0.8025394 ,  0.7925199 , -0.5469922 , -1.3571883 ,  0.51749843,
         -0.06049232],
        [ 2.5899994 ,  0.13517985,  0.20712604, -0.8258597 ,  3.1874957 ,
          4.5229583 ,  1.1195596 ,  0.15064389,  0.87432563,  0.39795297,
          2.6663606 ],
        [ 1.0845137 ,  1.270626  , -0.964331  ,  1.0785733 , -1.3562261 ,
          0.7480042 ,  0.6839398 ,  0.2920798 ,  2.7862968 , -0.14967646,
         -0.28404894],
        [ 1.1221182 ,  1.6758457 , -1.8540876 ,  2.4220493 , -1.0664718 ,
         -1.5525997 ,  0.8237714 , -0.72342587, -0.40358767,  1.1761805 ,
          0.59568715],
        [-0.17565523, -2.5164473 ,  0.4920518 , -0.27606994, -0.37322864,
         -0.20573574,  0.62634516,  0.60354465, -1.6733804 ,  0.7099046 ,
         -0.15734997],
        [-0.48133838,  0.5844855 ,  0.57789576, -0.1576629 ,  2.1334212 ,
          2.280289  ,  0.6353911 ,  0.19457476,  0.89434385, -0.8964519 ,
          1.4827094 ]], dtype=float32),
 array([-5.7473717,  3.148071 ,  4.282547 ,  0.7350694, -2.3547523,
        -2.8990183, -2.9921887, -5.2343597, -6.151815 , -4.834116 ,
        -0.6620873], dtype=float32),
 array([[-1.9668708e+00, -7.6311874e-01,  2.2371931e+00, -1.8757723e-02,
          1.0216910e+00,  4.8550375e-02, -5.1159441e-01],
        [ 1.2866392e+00, -3.5385463e-02, -2.9411504e-01, -5.4240876e-01,
          3.7301846e-02, -4.6866357e-01, -1.8828093e-01],
        [ 1.0108305e+00, -3.6110902e-01,  6.1970276e-01, -3.4573674e-01,
         -1.2603312e+00, -3.5101596e-02, -1.3216676e+00],
        [-9.1831249e-01, -1.7656577e-01, -1.1792060e+00, -7.1189058e-01,
         -3.4225614e+00, -2.5149953e-01, -3.0191131e+00],
        [-7.3545164e-01, -1.8756975e-01,  8.3573866e-01, -4.5788724e-02,
         -1.9898218e+00, -4.9759915e-01, -4.3915482e+00],
        [-8.0783546e-01,  2.2864720e-02,  1.5610225e+00, -7.2507757e-01,
         -1.0999438e+00, -5.3687334e-01,  2.6113834e+00],
        [ 1.4657902e+00,  1.2648219e-01,  1.2023816e+00, -3.6382917e-01,
          1.4779395e+00, -6.0198700e-01, -4.7634572e-01],
        [-1.7417250e+00, -1.2552744e-01, -1.7028170e+00, -9.5656580e-01,
          3.1331966e+00, -3.4166944e-01, -3.7381494e+00],
        [-1.3902678e+00, -3.7365721e-04, -1.7216048e+00,  6.5890014e-02,
         -1.9428501e+00, -4.2751953e-01, -5.7633615e-01],
        [-1.0124365e+00,  3.8428649e-02, -2.2841632e+00,  2.4992666e-01,
          1.3005877e-01, -7.7434689e-01, -6.5651882e-01],
        [ 7.0557696e-01, -4.8081473e-01, -1.0598118e+00, -6.1395782e-01,
         -4.9943015e-01,  2.3244744e-02,  1.3064773e+00]], dtype=float32),
 array([ 5.9363885 , -0.4271383 ,  3.8906407 , -0.27287024, -5.908673  ,
        -0.28632292,  0.7938935 ], dtype=float32),
 array([[-0.42872316, -0.47932094, -2.662005  , -2.4280205 ,  0.40211678,
         -0.576914  ],
        [ 0.00636393, -0.0461171 ,  0.24395311,  0.50402033, -0.09920681,
         -0.7108068 ],
        [-0.59513986, -0.9727116 , -1.3468812 , -0.6148875 ,  0.47977394,
         -0.09755138],
        [-0.12249283,  0.136113  , -0.09899752, -0.36055735,  0.10702032,
         -0.12097639],
        [-0.5735479 , -0.5573558 ,  0.6094247 ,  0.9053588 , -2.4226365 ,
         -0.2912166 ],
        [-0.437927  , -0.52430755, -0.5288716 , -0.16986734,  0.30960968,
         -0.01402575],
        [-0.3916364 , -0.22182362,  0.16274555, -0.6412617 ,  0.75850874,
          0.0458169 ]], dtype=float32),
 array([-0.6553262 , -0.46363878, -0.23497531,  2.4893067 , -0.67797196,
        -0.34899843], dtype=float32),
 array([[ 0.5159964 ],
        [ 0.13827978],
        [ 0.64608437],
        [ 0.5508861 ],
        [-0.2818733 ],
        [ 0.24997868]], dtype=float32),
 array([0.4649831], dtype=float32)]